* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: OpenSans;
}

.flex {
	display: flex;
}

.f-row {
	display: flex;
	flex-direction: row;
}

.f-col {
	display: flex;
	flex-direction: column;
}

.f-center {
	justify-content: center;
	align-items: center;
}

footer {
	display: none;
}

.main-wrapper {
	padding: 0 0.5rem;
}

.hidden {
	display: none;
}

.abs-center {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
}

.tmpsqrt {
	padding: 5rem 2.5rem;
	background: red;
}