.form_add {
	display: flex;
	flex-direction: column;

}

.form_group_label {
	display: flex;
	flex-direction: column;
}

form {
	padding: 1rem;
}
input {
	margin: 0.3rem 0;
}
input[type="file"] {
	font-size: 17px;
}
