* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: OpenSans Roboto sans-serif;
  background-color: var(--clr1);
  color: var(--clr6);
}

a {
  text-decoration: none;
  color: var(--clr6);
}

.flex {
  display: flex;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding: 0 0.5rem;
}

.hidden {
  display: none;
}

.abs-center {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
