.main-wrapper h1 {
	text-align: center;
}

.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
.card {
	width: 15rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: .5rem;
	cursor: pointer;
}
